.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.home-wrapper input {
  max-width: 500px;
  width: 80%;
  margin: 10px 0;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}
.home-wrapper button {
  border: 0;
  border-radius: 10px;
  background-color: cyan;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: cyan;
  box-shadow: 0 4px 4px black;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}

.chat-display {
  margin-bottom: 40px;
}

.message {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}

.message-sender {
  margin: 10px 0;
  font-size: 18px;
}

.message span {
  font-size: 10px;
  margin-left: auto;
  display: block;
  width: fit-content;
}

.message-box {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 40px;
}
.message-box input {
  width: 85%;
}
.message-box button {
  width: 15%;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
